* {
    font-family: 'Roboto';
    font-weight: 400;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #212529; 
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nombreCapa{
    color: black;
    text-decoration: none;
}

#map {
    flex: 1;
    position: relative;
    width: 100%;
    margin-top: 0%;
    height: 100%;
    z-index: 4000;
}

header {
    position: relative;
    top: 0;
    background-color: #0A132D;
    z-index: 5000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 9000;
}

.panel {
    display: none;
    width: 23%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5000;
    border-radius: 1%;
    border: 0;
    opacity: 90%;
}

.checkbox {
    margin-right: 1vh;
    margin-top: 0.5vh;
    color: #0A132D;
}

.card.layer.col-12 {
    display: block;
    background-color: #f0f0f0;
    margin-top: 3vh;
    background-color: white;
    display: flex;
    justify-content:space-between;
}

.card.layer.col-12 img {
    width: 4vh;
    margin-right: 1vh;
}

.card.layer.col-12:hover {
    background-color: whitesmoke;
}

.icon-buttons {
    display: flex;
    flex-direction: column;
}

.layer {
    border: 0;
}

.categorias {
    margin-bottom: 5px;
    margin: 2.5vh;
}

.categorias a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.categorias img {
    width: 5vh;
    margin-right: 5px;
}

.categorias h6 {
    color: black;
    margin: 0;
}

.folder {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #0A132D;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contador{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #0A132D;
    color: #fff;
    padding: 3px 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.folder-icon {
    width: 2vh;
    margin: 0.5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: none;
}

.map-popup {
    min-width: fit-content;
    width: fit-content;
    scroll-behavior: auto;
}

.icon-container {
    display: inline-block;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
}

.icon-container i {
    color: #fff;
}

.icon-footer {
    display: flex;
    justify-content: space-around;
    margin: 0vh;
    display: flex;
}

.icon-buttons a {
    color: #007bff;
    text-decoration: none;
}

.icon-buttons i {
    font-size: 24px;
}

#close-btn {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

#flecha {
    border-radius: 15%;
    position: relative;
    width: fit-content;
    max-width: 300px;
    padding: 4px;
}

#floating-box {
    border-radius: 2%;
    display: none;
    position: absolute;
    top: 1vh;
    right: 8vh;
    width: 60vh;
    background-color: white;
    border: 1px solid #ccc;
    opacity: 90%;
    z-index: 10000;
    grid-auto-flow: column;
    max-height: 70vh;
    overflow-y: auto;
    top: 10px;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#toggleActivateAll {
    border-radius: 10%;
    display: block;
    position: absolute;
    bottom:15vh;
    right: 1vh;
    background-color: white;
    border: 1px solid #ccc;
    opacity: 100%;
    z-index: 10000;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spinner-container {
    display: none;
    border-radius: 5%;
    position: absolute;
    top: 1vh;
    right: 160vh;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 1px solid #ccc;
    opacity: 80%;
    z-index: 2000000;
    grid-auto-flow: column;
    overflow-y: auto;
    left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-button {
    cursor: pointer;
}

.toggle-button img {
    width: 20px;
}

.categorias:hover {
    background-color: rgb(219, 219, 232);
    border-radius: 1%;
}

#searchInput {
    margin-bottom: 10px;
}

.logo {
 max-width: 80%;
}

.foto {
    width: 50%;
}

.categoriasFooter:hover{
    background-color: #ededed;
}

.footer-text{
    color: black;
}

#titulo {
    font-family: Roboto Slab;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.subtitulo{
    color:grey;
    font-size: small; 
    font-style: italic;
    margin: 1vh;
}

.mapboxgl-interactive:active {
    fill-opacity: 0.5; /* Cambia la opacidad cuando se pasa el cursor sobre la característica */
    stroke: red; /* Cambia el color del borde */
    stroke-width: 0px; /* Cambia el ancho del borde */
}


@media only screen and (max-width: 600px) {

    #floating-box {
        position: absolute;
        bottom: 0;
        max-width: 95%;
        max-height: 40vh;
        height: fit-content;
        right: 1vh;
        scroll-behavior: auto;
        opacity: 98%;
    }

    .logo {
        width: 100%;
    }

    .panel {
        height: 70%;
        width: 50%;
        overflow-y: auto;
    }

    .footer-text{
        font-size: xx-small;
    }

    #titulo {
        font-size: large;
        font-weight: bold;
        padding: 1vh;
    }

    #toggleIcon {
        transform: rotate(0deg);
    }

}