body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html{
    height: 100%;
}


#map{
    top: 0;
    position: relative;  
    height: 75vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Color de fondo del encabezado */
    height: 10vh;
    z-index: 2000; /* Asegura que el encabezado esté en la parte superior de otros elementos */
    padding: 0px; /* Espaciado interno */
}

/* Estilos para el footer */
footer {
    position: relative;
top: auto;
    height: 15vh;
    width: 100%;
    background-color: white; /* Fondo con transparencia */
    text-align: center; /* Alineación del texto al centro */
    z-index: 2000; /* Asegura que el pie de página esté en la parte superior de otros elementos */
    padding: 5px; /* Espaciado interno */
}


.map-popup {
min-width: fit-content;
width: fit-content;
scroll-behavior: auto;
}

img{
    margin: 0.5vh;
}


.icon-container {
    display: inline-block;
    background-color: #007bff; /* Color del fondo circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    padding: 10px; /* Ajusta el espacio alrededor del ícono */
}

/* Estilos para el ícono dentro del fondo circular */
.icon-container i {
    color: #fff; /* Color del ícono */
}


/* Estilos para las botoneras de iconos */
.icon-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1vh;
}

.icon-buttons a {
    color: #007bff; /* Color de enlace */
    text-decoration: none;
}

.icon-buttons i {
    font-size: 24px; /* Tamaño del ícono */
}
  
  #close-btn {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  
  #floating-box {
    border-radius: 2%;
    display: none; /* Oculta la caja flotante inicialmente */
    position: absolute;
    top: 1vh;
    right: 160vh;
    width: 60vh;
    background-color: white;
    border: 1px solid #ccc;
    opacity: 80%;
    z-index: 1;
    grid-auto-flow: column;
    max-height: 70vh; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido supera la altura máxima */
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    max-width: 300px; /* Ajusta según sea necesario */
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

    
  .spinner-container {
    border-radius: 5%;
    position: absolute;
    top: 1vh;
    right: 160vh;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 1px solid #ccc;
    opacity: 80%;
    z-index: 3000;
    grid-auto-flow: column;
    overflow-y: auto;
    left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
  }

 
  .categorias:hover {
    background-color: gainsboro;
    border-radius: 5%;
  }
  

  #searchInput {
    margin-bottom: 10px;
}

#logo{
    width: 8vh;
}

.foto{
    width:50%;
}

@media only screen and (max-width: 600px) {
    
    #floating-box {
      max-width: 25vh; /* Opcional: Ajusta según sea necesario */
    }


    #map{
        height: 70vh;
    }

    #logo{
        width: 5vh;
    }

  }